*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px;
    z-index: 100000;
    width: 100%;
    height: 40px;
    background: rgba(39, 33, 33, 0.925);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: fixed;
    top: 0;
}
nav .logo{  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.logo h1{
    color: white;
    padding-top: 15px;
    font-size: 40px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    transition: 0.6s;
}
nav a:hover{
    color: aqua;
    transition: 0.7s ease-in-out;
}
#opennav{
    color: #fff;
    font-size: 30px;
    display: none;
}
@media screen and (max-width: 750px) {
    #links{
        position: fixed;
        top: 81px;
        right: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        padding: 0px;
        width: 0px;
        text-align: center;
        transition: .4s;
        /* overflow: hidden; */
    }
    #links a{
        padding: 15px;
    }
    #opennav{
        display: block;
    }
    #links.show{
        transition: .4s;
        width: 200px;
        padding: 10px;

    }
}

*,*::after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #021841;
    /* background: conic-gradient(green, whitesmoke);
    background-attachment: fixed; */
}
svg text{
    stroke: #0ed1c1;
    font-size: 100px;
    font-weight: 700;
    stroke-width: 5;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate{
    0%{
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}


.grow{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background-color: blue; */
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 300px;
}
.grow-content p{
    color: #fff;
    font-family: cursive;
    font-size: 12px;
}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;

}
.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, grey, yellow);
    transition: 0.5s;
    animation: animate 4s linear infinite;

    }
.box:hover::before{
    inset: -20px 0px;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}
.box::after{
position: absolute;
content: '';
inset: 6px;
background: #162052;
border-radius: 50%;
z-index: 1;
}
.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img{
    opacity: 0;
}
.content h2{
    position: relative;
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
}
.content h2 span{
    font-weight: 300;
    font-size: 0.75em;

}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    letter-spacing: 0.2em;  
}

    /* Footer Part */
footer{
    background-color: rgb( 34, 34, 34);
    color: #fff;
}
a{
    text-decoration: none;
    transition: .5s;
    color: #fff;
}
ul li{
    list-style-type: none;
}

.footer-info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.footer-info .footer_width{
    padding: 0 15px;
}

.footer_info h2{
    margin-bottom: 20px;
}
.about .contact{
    width: 40%;
}
.link{
    width: 20%;
}
.social-media{
    margin-top: 30px;
}
.social-media ul{
    display: flex;
}
.social-media ul li a{
    display: inline-block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
}
.social-media ul li a:hover{
    background-color: #fff;
    color: #000;
}

.link ul li a{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}
.link ul li a:hover{
    color: #000;
}
.contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact ul li span{
    margin-right: 15px;
}
.copy-rigth{
    padding: 15px;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

    /* Media screen */
@media screen and (max-width:749px){
    .mod{
        padding-top: 60px;
    }
    .grow{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media screen and (max-width:419px){
    .box{
        width: 300px;
        height: 300px;
    }
    .content h2{
        font-size: 20px;
    }
}  

@media screen and (max-width:354px){
    .box{
        width: 200px;
        height: 200px;
    }
    .content h2{
        font-size: 10px;
    }
    .content a{
        font-size: 10px;
    }
}

@media screen and (max-width:258px){
    .content h2{
        font-size: 5px;
    }
    .content a{
        font-size: 5px;
    }
}

       /* Footer Media */
@media screen and (max-width: 992px){
    .about , .contact{
        width: 35%;
    }
    .link{
        width: 30%;
    }
}
@media screen and (max-width: 767px){
    .about , .contact , .link{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .footer-info{
        flex-direction: column;
    }
}