*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 5%;
    z-index: 100000;
    width: 100%;
    height: 70px;
    background: rgba(39, 33, 33, 0.925);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: fixed;
    top: 0;
    cursor: pointer;
}
nav .logo{  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.logo h1{
    color: white;
    padding-top: 15px;
    font-size: 40px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    transition: 0.6s;
}
nav a:hover{
    color: aqua;
    background-color: blueviolet;
}
#opennav{
    color: #fff;
    font-size: 30px;
    display: none;
}

@media screen and (max-width: 750px) {
    #links{
        position: fixed;
        top: 81px;
        right: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        padding: 0px;
        width: 0px;
        transition: .4s;
        /* overflow: hidden; */
    }
    #links a{
        padding: 15px;
    }
    #opennav{
        display: block;
    }
    #links.show{
        transition: .4s;
        width: 200px;
        padding: 10px;

    }
}

body{
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}
.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: #017143;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 70px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details button{
    background-color: #017143;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: white;
}

footer{
    background-color: rgb( 34, 34, 34);
    color: #fff;
}
a{
    text-decoration: none;
    transition: .5s;
    color: #fff;
}
ul li{
    list-style-type: none;
}

.footer-info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.footer-info .footer_width{
    padding: 0 15px;
}

.footer_info h2{
    margin-bottom: 20px;
}
.about .contact{
    width: 40%;
}
.link{
    width: 20%;
}
.social-media{
    margin-top: 30px;
}
.social-media ul{
    display: flex;
}
.social-media ul li a{
    display: inline-block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
}
.social-media ul li a:hover{
    background-color: #fff;
    color: #000;
}

.link ul li a{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}
.link ul li a:hover{
    color: #000;
}
.contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact ul li span{
    margin-right: 15px;
}
.copy-rigth{
    padding: 15px;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 700px){
    .food-items{
        width: 40%;
    }
}

@media screen and (max-width: 525px){
    .food-items{
        width: 70%;
    }
}

@media screen and (max-width: 430px){
    .details-sub h5{
        font-weight: 600;
        font-size: 12px;
    }
}
@media screen and (max-width: 309px){
    .details button{
       width: 80px;
    }
}
@media screen and (max-width: 290px){
    .logo h1{
        font-size: 20px;
    }
}

   /* Footer Media */
@media screen and (max-width: 992px){
    .about , .contact{
        width: 35%;
    }
    .link{
        width: 30%;
    }
}
@media screen and (max-width: 767px){
    .about , .contact , .link{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .footer-info{
        flex-direction: column;
    }
}   